body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #F6F7F8;
  --secondary: #FF1B54;
}

body {
  background: #2b2b2c;
  font-family: 'Raleway', sans-serif;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 98vh;
}
