.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: #2b2b2c;
  box-shadow: none;
}

/*--LOGO SETTINGS--*/
.siteLogo {
  height: 60px;
  width: 300px;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
}

.siteLogo img {
  max-width:100%;
  max-height:100%;
}